/* Custom calendar elements */
.modal_meses .fc-past.fc-content .fc-date {color: #00a0ba}
.modal_meses .fc-future.fc-content .fc-date {color: #00a0ba}
.custom-calendar-wrap {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	max-width: 100px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;

}
.custom-inner {
	background: transparent;
}
.meses_calendario .custom-calendar-wrap  {
	width: 100px;
}
.meses_calendario .custom-inner {
	background: transparent;
	max-width: 85px;
}
.custom-inner:before,
.custom-inner:after  {

}

.custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}

.custom-header {
	padding: 5px 10px 0px 5px;
	height: 20px;
	position: relative;

}

.custom-header h2,
.custom-header h3 {
	text-align: left;
}

.custom-header h2 {
	color: #fff;
	font-weight: 300;
	font-size: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}

.custom-header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #b7bbc2;
}

.custom-header nav span {
	position: absolute;
	top: 17px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span:first-child {
	left: 5px;
}

.custom-header nav span:last-child {
	right: 5px;
}

.custom-header nav span:before {
	font-family: 'fontawesome-selected';
	color: #ef4f69;
	position: absolute;
	text-align: center;
	width: 100%;
}

.custom-header nav span.custom-prev:before {
	content: '\25c2';
}

.custom-header nav span.custom-next:before {
	content: '\25b8';
}

.custom-header nav span:hover:before {
	color: #495468;
}

.custom-content-reveal {
	background: #f6f6f6;
	background: rgba(246, 246, 246, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.custom-content-reveal span.custom-content-close {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #ef4f69;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	line-height: 13px;
	padding: 0;
}

.custom-content-reveal span.custom-content-close:after {
	content: 'x';
	font-size: 18px;
	color: #fff;
}

.custom-content-reveal a,
.custom-content-reveal span {
	font-size: 22px;
	padding: 10px 30px;
	display: block;
}

.custom-content-reveal h4 {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #777;
	padding: 20px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 5px solid #ef4f69;
	box-shadow: 0 1px rgba(255,255,255,0.9);
	margin-bottom: 30px;
}

.custom-content-reveal span {
	color: #888;
}

.custom-content-reveal a {
	color: #ef4f69;
}

.custom-content-reveal time{
	display: none;
}

.custom-content-reveal a:hover {
	color: #333;
}

/* Modifications */

.calendario_meses .fc-calendar-container {
	height: 50px;
	width: auto;
	background: transparent;
}

.fc-calendar .fc-head {
	background: transparent;
	color: #ef4f69;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	display: none;
}

.fc-calendar .fc-row > div {
	cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.fc-calendar .fc-row > div:empty {
	background: transparent;
	cursor: default;
}

.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #fff;
	font-weight: 400;
	pointer-events: none;
	font-size: 10px;
	padding-top: 2px;
}

.fc-calendar .fc-row > div > span.fc-emptydate {
	color: #ccc;
}

.fc-calendar .fc-row > div.fc-today {
	background: #00a0ba;
	border-radius: 100% !important;
}

.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.fc-calendar .fc-row > div.fc-content:after {

}

.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: #b02c42;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #ef4f69;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}
.marcador {display: none;}
.calendario_mes{padding-bottom: 45px !important;}
.calendario_mes section.main{ width: 90% !important; margin: 0 auto !important;}
.calendario_mes .custom-calendar-wrap {max-width: 100% !important;width: 90% !important}
.calendario_mes .fc-calendar .fc-head {display: block !important; color: #fff !important;}
.calendario_mes .fc-calendar .fc-row > div {    width: 14.28%;width: -moz-calc(100%/7); width: -webkit-calc(100%/7);width: calc(100%/7);!important; height: auto !important; margin: 5px 0px !important;}
.calendario_mes .fc-calendar .fc-row > div > span.fc-date { font-size: 25px !important; }
.calendario_mes .fc-past.fc-content { border-radius: 0 !important; height: auto !important; color: #fff !important;}
.calendario_mes .fc-future.fc-content { border-radius: 0 !important; height: auto !important; color: #fff !important;}
.calendario_mes .fc-past.fc-content .fc-date,.calendario_mes .fc-future.fc-content .fc-date {color: #fff !important;}
.calendario_mes .fc-past.fc-content .fc-calendar-events {display: none !important;}
.calendario_mes .fc-calendar .fc-row > div:before{
content: "" !important;
display: block !important;
padding-top: 100% !important;   /* initial ratio of 1:1*/
}

.calendario_mes .fc-calendar .fc-row .fc-future.fc-content .marcador,.calendario_mes .fc-calendar .fc-row .fc-past.fc-content .marcador{width: 85%; height: 2px; background: #00a0ba;bottom: 0px;display: block; position: absolute;left: 0; right: 0;margin: auto;}
.calendario_mes .fc-calendar .fc-row > div.fc-today .marcador{display: none !important;}
@media screen and (max-width: 400px) {
	.calendario_meses .fc-calendar-container {
		height: 50px;
	}
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 7px;
	}
}
